*{
    margin: 0%;
    font-family: "Kelly Slab", sans-serif;
}

header{
    display: flex;
    flex-direction:row; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: #DD7D39;
}


.lista{
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.buscar{
    width: 25px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

input{
  width: 600px;
  padding: 25px;
  border: none;
  border-radius: 45px;
  background-color: #FFD8B2;
}

input::placeholder {
  margin-right: 20px;
  color: #db764b; 
  font-size: 15px;
}

.banner{
    background-image: url('img/Design\ sem\ nome\ \(5\)\ 1.png');
    background-size: cover; /* Faz a imagem cobrir todo o espaço [8] */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    width: 100%;
    height: 250px; /* Altura do retângulo */
    padding-top: 100px;
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.banner-text{
     align-items: flex-start;
     font-size: 39px;
     color: aliceblue;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    justify-content: center; 
    align-items: center;   
}

.card img{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.card{
    width: 450px;
    height: 450px;
    margin-top: 50px;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(252, 250, 245);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 

p, strong{
   padding: 10px;
}

.icon{
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
}
}
