*{
    margin: 0%;
    font-family: "Kelly Slab", sans-serif;
}

/*Header*/
header{
    display: flex;
    flex-direction:row; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: #DD7D39;
}

/*Caixa de Busca do Header*/
.search-box{
    position: relative;
    display: inline-block;
    width: 600px;
  padding: 25px;
  border: none;
  border-radius: 45px;
  background-color: #FFD8B2;
}

/*Icones Presentes na Caixa de Busca*/
.lista{
    height: 25px;
    position: absolute;
    right: 610px;
    top: 50%;
    transform: translateY(-50%);
}

.buscar{
    width: 25px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/*Input(para coletar as pesquisas do usuário*/
input {
    flex: 1;
    margin-left: 15px;          
    width: 90%;
    border: none;
    outline: none;
    background: transparent
}

/*Texto de prévia presente no input*/
input::placeholder{
    font-size: 16px;
    color: #993A1B;
}

/*navbar*/
ul{
  display: flex;
  flex-direction:row; 
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

/*links presentes no navbar*/
.home{
    display: flex; 
    align-items: center; 
    cursor: pointer;
    color: #993A1B;
    text-decoration: underline;
}

.home img{
     width: 28px; 
     height: auto;
}

.detalhes{
    cursor: pointer;
    color: #993A1B;
}

.detalhes:hover{
    transition: 0.3s ease;
    color: aliceblue;
    text-decoration: underline;
}

.navbar button{
    border: none;
    width: 200px;
    padding:14px;
    color: aliceblue;
    font-size: 24px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #BE6139;
}

.navbar button:hover{
     transition: 0.3s ease;
     background-color: #924423;
}

/*Banner principal do site*/
.banner{
    background-image: url('img/Design\ sem\ nome\ \(5\)\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 250px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start; 
}

/*Texto presente no banner*/
.banner-text{
     display: flex;
     align-self: center;
     margin-left: 20px;
     text-align: left;
     max-width: 500px;
     font-size: 39px;
     color: aliceblue;
}

/*Grade para o posicionamento dos card de cada quilombo*/
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    justify-content: center; 
    align-items: center;   
}

/*Imagens presentes nos cards*/
.card img{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/*Cards dos quilombos*/
.card{
    left: 190px;
    width: 450px;
    height: 450px;
    margin-top: 50px;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(252, 250, 245);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    flex-direction: row;

p, strong{
   padding: 10px;
}

/*Icone de acesso*/
.acessar{
  display: block; 
  margin-left: auto;
  margin-right: 10px;
}
}

.card:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}


